<%= form_for(@picture) do |f| %>
<% if @picture.errors.any? %>
  <div id="errors_explanation">
  <h2><%= @picture.errors.count%>件のエラーがあります</h2>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%=msg%></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= f.label :タイトル %>
<%= f.text_field :title, class:'form-control'  %>
  <br>
<%= f.submit '投稿', class:'btn btn-primary btn-block' %>
<%= link_to "投稿一覧に戻る",pictures_path %>
<% end %>
