<div class="containter">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <section class="main-header">
      <p class="flash"><%= notice %> <%= alert %></p>
    </section>
		<br/>
		<br/>
		<br/>
    <%= link_to "新規投稿する", new_picture_path, class: 'btn btn-primary btn-block' %>
    <% @pictures.each do |picture| %>
      <div class="postimage">
        <p>タイトル：<%=picture.title%></p>
        <p>作成日付：<%=picture.created_at%></p>
        <p>投稿者：<%=picture.user.name%></p>
        <%= post_image(picture) %>
        <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-success btn-primary btn-block' %>
        <%= link_to "削除", picture_path(picture.id), method: :DELETE, data: {confirm: '本当に削除してもいいですか？'}, class: 'btn btn-danger btn-block' %>
      </div>
      <br>
    <% end %>
  </div>
</div>
